# Pandas

Pandas es un paquete de Python que facilita el análisis de datos, proporcionando estructuras de datos rápidas, flexibles y expresivas que hacen el trabajo más intuitivo.

In [1]:
# Importar los paquetes

import pandas as pd
import numpy as np

### Dataframe
Un dataframe es un tipo especial de objeto de python cuya estructura permite almacenar un conjunto de datos. Los datos almacenados pueden ser tanto númericos como alfanúmericos. Su representación es muy similar a la de una matriz, en donde, las filas van a representar a los individuos y las columnas variables.

In [3]:
vendedor, venta, descuento, comision, horario = [], [], [], [], []

df = pd.DataFrame({"Vendedor": vendedor, "Venta": venta, 
                   "Descuento": descuento, "Comision": comision, 
                   "Horario": horario})

## Manipulación de Objetos

### Agregar Datos

In [4]:
df.loc[len(df)] = ['Jose', 5000, 0.20, 0.01, 'Nocturno']

### Seleccionar las variables Vendedor y Venta

In [5]:
df[['Vendedor', 'Venta']]

  Vendedor   Venta
0     Jose  5000.0

### Seleccionar un individuo

In [7]:
df.loc[np.array([0])]

  Vendedor   Venta  Descuento  Comision   Horario
0     Jose  5000.0        0.2      0.01  Nocturno

### Filtrar los datos por un valor

In [9]:
df[df["Vendedor"]!="Jose"]

Empty DataFrame
Columns: [Vendedor, Venta, Descuento, Comision, Horario]
Index: []